@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{

    --main-color: #2fc3dd;
    --color-dark: #1d2231;
    --text-grey: #8390a2;


}

*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#e2e2e2,#2fc3dd);
}

.form-container{
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.formloginbox{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #006994;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;

}

form{
    width: 100%;
}

.form-container h1{
    font-size: 36px;
    margin: -10px 0;
}

.inputbox{
    position: relative;
    margin: 30px 0;
}

.inputbox input{
    width: 100%;
    padding: 13px 50px 13px 20px  ;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.inputbox input::placeholder{
    color: #888;
    font-weight: 400;
}

.inputbox i{
    position: absolute;

}

.inputbox i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.btn{
    width: 100%;
    height: 48px;
    background: #2fc3dd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.welcome{
    position: absolute;
    width: 100%;
    height: 100%;
   

    
}

.welcomeleft{
    position: absolute;
    width: 50%;
    height: 100%;
    color: #8390a2 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1{
    
    font-size: 60px;
    text-align: center;
    
}

.welcomeleft p{
    margin: 20px;
}

.flex-btn {
    display: flex;
    gap: 1rem;
}

.message {
    position: fixed; 
    top: 0;
    max-width: 1200px; 
    margin: 0 auto;
    background-color: var(#f5f5f5);
    padding:  2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 1100; 
    
   
}

.message span {
    font-size: 1.5rem;
    color: var(--color-dark, #333); 
    
}

.message i {
    font-size: 2rem;
    color: var(--red, #ff0000); 
    cursor: pointer;
    transition: color 0.3s ease;
}

.message i:hover {
    color: var(--color-dark, #333); 
}
